{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}

<div class="vh-70 gradient-custom">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-secondary text-white" style="border-radius: 1rem; ">
                    <div class="card-body p-5 text-left">                

                            <h2 class="fw-bold mb-2 text-uppercase text-center">Online Clothing-store Project</h2>
                            <p>
                                The objective of this project is to develop a comprehensive website for an online clothing store, offering a wide 
                                range of fashion products to customers. The website will serve as a platform for users to explore the latest trends, 
                                browse through various categories of clothing, and make purchases conveniently from the comfort of their 
                                homes. Additionally, the website will include administrative functionalities for managing inventory, processing 
                                orders, and analyzing sales data.
                            <br>
                                <strong>Key Features: </strong>
                                <ul>

                                    <li>
                                        User-friendly interface: The website will feature an intuitive and visually appealing interface, providing a 
                                        seamless browsing experience for users across different devices.
                                    </li>
                                    <li>
                                        Extensive product listings: Users will have access to a diverse range of clothing items, including tops, 
                                        bottoms, dresses, outerwear, and accessories, each accompanied by detailed descriptions and images.
                                
                                    </li>
                                    <li>
                                        Shopping cart and checkout: The website will incorporate a shopping cart functionality, allowing users to 
                                        add items to their cart and proceed to checkout securely. Payment processing will be integrated to facilitate 
                                        online transactions.
                                    </li>
                                    <li>
                                        User authentication and accounts: Customers will have the option to create accounts, enabling them to 
                                        save their preferences, track order history, and receive personalized recommendations.
                                
                                    </li>
                                    <li>
                                        Admin dashboard: Authorized administrators will have access to a dedicated dashboard for managing 
                                        products, categories, orders, and user accounts. This dashboard will provide insights into sales 
                                        performance and inventory management
                                    </li>
                                    <li>
                                        Responsive design: The website will be optimized for various devices, including desktops, tablets, and 
                                        smartphones, to accommodate users with different preferences and screen sizes.
                                    </li>
                                </ul>
                                <ul>
                                    <strong>Tecnologies:</strong>
                                    <li>Backend: Django framework version 4 ></li>
                                    <li>Frontend: HTML, CSS, javascript</li>
                                    <li>Database: SQLite or MongoDb(Optional)</li>
                                    <li>Version Control: Git, and GitHub</li>
                                    <li>Project Management: Trello or similar tool</li>
                                </ul>
                               <ul>
                                <strong>Presentation: </strong>
                                <p>Upon completion of the project, each team will deliver a comprehensive presentation to present their Project to the class and any stakeholders. 
                                The presentation should cover:</p>
                                <li>Overview of the project goals and objectives</li>
                                <li>Live demonstration of key features and functionalities.</li>
                                <li>Discussion of the Agile (Scrum) methodology employed and its impact on project management and development</li>
                                <li>Reflection on challenges encountered and strategies employed to overcome them</li>
                                <li>Future roadmap for platform enhancements and potential expansion areas</li>
                               </ul>
                           
                            </p>
                            

                            
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}