<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Clothing Store {% endblock %}</title>
</head>
<body>
    <header class="header">
        <h1>Online Clothing Store</h1>
        <nav class="navigation">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

</body>
</html>