{% extends 'base.html' %}

{% block title %}Category{% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-8 offset-md-1">
            {% if item.name %}
                <h3 class="custom-paragraph">Find here your new {{ category.name }}</h3>
            
            {% endif %}
        </div>
    </div>
</div><br>
    <div class="container">
        
        <div class="row">
            {% for item in items %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'store_app:product_details' product_id=item.id %}">{{ item.name }}</a></h6>  <!-- set link to product_detail page(with product_id)-->
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text"><strong>Price:</strong> {{ item.price }}</p>
                            <form 
                                action="{% url 'cart_app:cart_add' item.id %}" 
                                method="post">
                                    {% csrf_token %}
                                <button class="btn btn-secondary" type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}