{% extends 'base.html' %} 
{% block title %}Checkout{% endblock %} 
{% block content%}

<h2>Checkout</h2>

<p>Order Details</p>
<p>Products</p>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col">Product Id</th>
      <th scope="col">Product name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </thead>
    {% for item in cart %}
    <tr>
      <td>({{ item.product.id }})</td>
      <td>({{ item.product.name }})</td>
      <td>{{ item.price }} SEK</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.total_price }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<table class="table">
    <tr>
        <td>Order subtotal (before taxes)</td>
        <td>{{ sub_total_price }} SEK</td>
    </tr>
    <tr>
        <td>Tax amount ({{ tax_percentage }} %)</td>
        <td>{{ tax_amount }} SEK</td>
    </tr>
    <tr>
        <td>Order subtotal (after taxes)</td>
        <td>{{ sub_total_with_tax }} SEK</td>
    </tr>
    <tr>
        <td>Delivery (Free for orders above 500 SEK)</td>
        {% if sub_total_price >= 500 %}
        <td>FREE</td>
        {% else %}
        <td>{{ delivery_cost}} SEK</td>
        {% endif %}
    </tr>
    <tr>
        <td>Order Total</td>
        <td>{{ order_total }} SEK</td>
    </tr>
</table>

<h2>Billing Information</h2>

<a href="{% url 'cart_app:cart_detail' %}">Go back to cart</a>
<form action="{% url 'checkout_app:order_summary' %}" method="post">
  {% csrf_token %}
  <button type="submit">Proceed to Order Summary</button>
</form>
{% endblock %}
