{% extends 'base.html' %}

{% block title %}Login{% endblock %}
                                            
{% block content %}
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">

        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter Username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>
        <br>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
{% if form.errors %}
    <p>Invalid login credentials</p>
{% endif %}

{% endblock %}