{% extends 'base.html' %}
{% load static %}

{% block title %}Product{% endblock %}

{% block content %}
<br>
<!-- Banner Image Section-->
    <div class="row">
        <div class="col-sm-6">

          <div class="card">
            <div class="card-body">
                <img style = "height: 170px; width: 100%;"class = "card-img-top" src="{%static 'images/dress3.avif' %}"  class="rounded mx-auto d-block"   alt="dress">
            </div>
            <div class="col-md-6">
                <p class = "card-img-overlay"><b>Summer Sale!</b> <br>Upto 30% discount on selected items <br>GET,SET,READY </p>
            </div>
          </div>
    </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <img style = "height: 170px; width: 100%;"class = "card-img-top" src="{%static 'images/dress5.png' %}"  class="rounded mx-auto d-block"   alt="dress">
            </div>
            <div class="col-md-6">
                <p class = "card-img-overlay"><b>Time to Explor our Collection</b><br>NEW SEASON, NEW MOOD <br>NEW YOU! </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!--Category Buttons-->
      <div class="text-center">
        <div class="mb-3">
            <a href="?sort_by=price&order=asc" class="btn btn-secondary">Sort by Price (Low to High)</a>
            <a href="?sort_by=price&order=desc" class="btn btn-secondary">Sort by Price (High to Low)</a>
            <a href="?sort_by=name&order=asc" class="btn btn-secondary">Sort by Name (A-Z)</a>
            <a href="?sort_by=name&order=desc" class="btn btn-secondary">Sort by Name (Z-A)</a>
        </div>
    </div>
    <!--All Products View-->
    <br>
      <div class="container">
        <div class="row">
            {% for item in product_item %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if item.image_url %}
                            <img 
                                src="{{ item.image.url }}" 
                                class="card-img-top" 
                                alt="{{ item.name }}"
                            >
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="#">{{ item.name }}</a></h6>  <!-- set link to product_detail page(with product_id)-->
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text"><strong>Price:</strong> {{ item.price }}</p>
                            <form 
                                action="{% url 'cart_app:cart_add' item.id %}" 
                                method="post">
                                    {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Add</button>
                            </form>
                            <!-- can include more fields here if necessary -->
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <h3 class=" mt-5 mb-4"><b><i>We think you’ll like these</i</b><br>
            Recommended for you</h3>
        <div class="row">
          <div class="col-6 col-md-4 col-lg-3 gallery-item">
            <img
              src="{%static 'images/glasses.png' %}"
              alt="Image 1"
              class="gallery-img img-fluid"
            />
          </div>
          <div class="col-6 col-md-4 col-lg-3 gallery-item">
            <img
              src="{%static 'images/image6.png' %}"
              alt="Image 2"
              class="gallery-img img-fluid"
            />
          </div>
          <div class="col-6 col-md-4 col-lg-3 gallery-item">
            <img
              src="{%static 'images/image4.png' %}"
              alt="Image 2"
              class="gallery-img img-fluid"
            />
          </div>
          <div class="col-6 col-md-4 col-lg-3 gallery-item">
            <img
              src="{%static 'images/image5.png' %}"
              alt="Image 2"
              class="gallery-img img-fluid"
            />
          </div>
        </div>
        
    </div>      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   <!-- <div>
        {% if product_item %}
            {% for item in product_item %}
                <ol>
                    <b>Prouct Info</b>
                    <ul>
                        <li><h5>Product Name: {{ item.name}}<h5></li>
                        <li><h5>Category: {{ item.category}}<h5></li>
                        <li><h5>Description: {{ item.description}}<h5></li>
                        <li><h5>Price: {{ item.price}}</h5></li>
                        <li><img src=" {{ item.image.url }}" width="150" height="150" alt="{{ item.name }}"></li>  
                    </ul>
                </ol>
                                   
            {% endfor %}
        {% else %}
            <p>No Product Found!</p>
        {% endif %}
    </div> -->

{% endblock %}