{% extends 'base.html' %} {% load static %}{% block title %}Product Details{% endblock %}
{% block content %}

<h2>Product Details</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            {% if product_img %}

                <img src='{{ product_img.image.url }}'  alt="{{ product_details.name }}" class="cover-image img-thumbnail" width="">
            {% else %}
                <p>Image not found.</p> 
            {% endif %}
        </div>    
        <div class="col-md-6">
            <p><strong>{{ product_details.category }}: {{ product_details.name }}</strong></p>
            <p><strong>Price:</strong> {{ product_details.price }} SEK</p>

            {% if product_stock %}
                <p><strong>Colour: </strong> {{ product_stock.first.color }}</p>
                <p>
                    <label for="size"><strong>Choose a size:</strong></label>
                    <select name="size" id="size">
                        {% for stock in product_stock %}
                            <option value="{{ stock.size }}">{{ stock.size }}</option>
                        {% endfor %}
                    </select>
                </p>
            {% else %}
                <p>Stock information not found.</p>
            {% endif %}

            {% if product_details.description %}
                <p><strong>Description:</strong> {{ product_details.description }}</p>
            {% else %}
                <p>Description not found.</p>
            {% endif %}

            {% if user.is_authenticated %}
                <form method="POST" action="">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                </form>
            {% else %}
                <form method="" action="">
                    {% csrf_token %}
                    <button onclick="login_req()">Add to Cart</button>
                </form>
                <script>
                    function login_req() {
                    alert("Please login first to add to cart!");
                    }
                </script>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}