{% extends 'base.html' %}

{% block title %}ReturnPolicy{% endblock %}

{% block content %}

<h3>RETURN POLICY</h3><br><br>
    <div class="ms-5">
        <h5>The following conditions are helpful to keep in mind before making a return:</h5><br>
        <ul>
            <li>Our return policy applies to all items purchased with us.</li>
            <li>From the moment you receive your goods, you have 100 days to return them.</li>
            <li>You have the right to open the packaging and try all items as long as the packaging is resealable.</li>
            <li>Test all items carefully.</li>
            <li>All items are returned in unaltered condition. The corresponding price tags, labels or packaging must, therefore 
                always be included.</li>
            <li>If the item is faulty, a complaint should always be lodged.</li>
        </ul>

    </div>

{% endblock %}