<li><a class="dropdown-item" href="/">Home</a></li>
<li><a class="dropdown-item" href="#">Settings</a></li>
<li><a class="dropdown-item" href="/about">About</a></li>
<li><a class="dropdown-item" href="/admin">Admin</a></li>
<li><hr class="dropdown-divider" /></li>
{% if user.is_authenticated %}
    <li><a class="dropdown-item" href="{% url 'user_app:logout' %}">Logout</a></li>
{% else %}
    <li><a class="dropdown-item" href="{% url 'user_app:login' %}">Login</a></li>
    <li><a class="dropdown-item" href="{% url 'user_app:register' %}">Register</a></li>
{% endif %}