<footer class="footer mt-3">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>About Clothing Store</h5>
              <p>Group2 is your go-to online clothing store for the latest trends and timeless styles. We offer a wide range of fashion items for men, women, and kids. Discover the 			best in fashion and enjoy exclusive collections.</p>
          </div>
          <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                <li><i class="bi bi-geo-alt-fill"></i> Group 2 Clothing Store, Stockholm</li>
                <li><i class="bi bi-telephone-fill"></i> +46 00 123-4567</li>
                <li><i class="bi bi-envelope-fill"></i> info@group2clothingstore.com</li>
              </ul>
              <div class="social">
                  <a href="https://www.facebook.com/facebook/" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col text-center">
              <p class="mb-0">&copy; Group 2´s Clothing store | All rights reserved</p>
          </div>
      </div>
  </div>
</footer>