{% load static %}
{% if user.is_authenticated and user.username %}
    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
        {{ user.username }}
    {% if user.userprofileinfo %}
        {% if user.userprofileinfo.profile_pic %}
            <img src="{{ user.userprofileinfo.profile_pic.url }}" alt="{{ user.username }}" width="40" height="40" class="rounded-circle" />
        {% elif user.userprofileinfo.github_profile %}
            <img src="{{ user.userprofileinfo.github_profile }}.png" alt="{{ user.username }}" width="32" height="32" class="rounded-circle" />
        {% endif %}
    {% endif %}
    </a>
{% else %}
    <a href="{% url 'login' %}" class="d-block link-body-emphasis text-decoration-none">Login</a>
        <p>User profile info not found.</p>
    </a>
{% endif %}
