<div id="basic-creditCards-collapsible" class="collapsible-content">
    <div>
      <div class="card-details">
        <div class="card-input-group">
          <label for="number">Card number</label>
          <div class="input-wrapper">
            <iframe class="card-fields-iframe" frameborder="0" id="card-fields-number" name="card-fields-number" scrolling="no" src="https://checkout.shopifycs.com/number"></iframe>
          </div>
        </div>
        <div class="card-input-group">
          <label for="expiry">Expiration date (MM / YY)</label>
          <div class="input-wrapper">
            <iframe class="card-fields-iframe" frameborder="0" id="card-fields-expiry" name="card-fields-expiry" scrolling="no" src="https://checkout.shopifycs.com/expiry"></iframe>
          </div>
        </div>
        <div class="card-input-group">
          <label for="verification_value">Security code</label>
          <div class="input-wrapper">
            <iframe class="card-fields-iframe" frameborder="0" id="card-fields-verification_value" name="card-fields-verification_value" scrolling="no" src="https://checkout.shopifycs.com/verification_value"></iframe>
          </div>
        </div>
        <div class="card-input-group">
          <label for="name">Name on card</label>
          <div class="input-wrapper">
            <iframe class="card-fields-iframe" frameborder="0" id="card-fields-name" name="card-fields-name" scrolling="no" src="https://checkout.shopifycs.com/name"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>